<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view more</title>
</head>
<body bgcolor="#34ebe8">
<h1> <ul>IV Backpacker Travel Buddy</ul></h1>
<p>IV Backpacker Travel Buddy is a web based application with the best IV packages for students .Wheere students can search best IV destination for their department .Agents from anywhere can post the Best IV packages for students along with location details ,depature ,cost mode of travelling ,duration ,number of seats,date,provider and other details of each department </p>
<p> Students can search/filter the IV packages according to their requirments.Filtering will happen with respect to the detailprovided by the packages.After finding the IV packages user can book slot in that tyrip.Whether student doesn't want this booked packages they can cancel it.</p>
<ul>
    <li>
        User friendly interface
    </li>
    <li>
        Students get correct idea about destination for their departments
    </li>
    <li>
        Advanced searching and filtering with custom feilds
    </li>
     <li>
         Booking confirmation and canceling

    </li>
     <li>
        Students doesn't communicate with companies and take appoinments

    </li>
     <li>
        Agents provided budget friendly packages
    </li>
</ul>
</body>
</html>